extends layout

block content

  div(id="wallet-form")
    form(name="wallet")
      div
        label(for="wallet") Address
      div
        input(
          name="wallet-address",
          type="text",
          placeholder="Enter wallet address",
          required="required",
          pattern="[A-Za-z0-9]{30,50}"
        )
      div
        input(type="submit")

    div(id="balance-value")
